.app {
  padding: 30px;
  display: flex;
}

.app > div {
  margin-right: 50px;
}

.error {
  outline-color: red;
  border: 1px solid red;
}

.error-message {
  color: red;
}

.active-button {
  background-color: lightblue;
}

.filter-button-wrapper {
  display: flex;
  gap: 5px
}

.completed-task {
  opacity: 0.5;
}

.add-item-input {
  display: flex;
  flex-direction: column;
}
